 <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="/">
                    <h3>Auxiliador de estudos</h3>
                </a>
            </div>

            <ul class="list-unstyled components">
                <li class="mb-3">
                    <a href="/study/">Novo tópico</a>
                </li>
                <li class="mb-3">
                    <a href="/study/config">Categorias</a>
                </li>
                <li class="mb-3">
                    <a href="#">Configurações</a>
                </li>
                <li>
                    <a href="#">Links úteis</a>
                </li>
            </ul>
        </nav>

