 <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <a href="/">
                {{#if date}}
                    <h5>Hoje é {{date}}. O que faremos?</h5>
                    {{else}}
                    <h5>Home page</h5>
                {{/if}}
                </a>
            </div>
            <ul class="list-unstyled components">
                <li class="mb-3 ml-2">
                    <a href="/study/">Novo tópico</a>
                </li>
                <li class="mb-3 ml-2">
                    <a href="/study/config">Categorias</a>
                </li>
                <li class="mb-3 ml-2">
                    <a href="#">Projetos</a>
                </li>
                <li class="mb-3 ml-2">
                    <a href="#">Links úteis</a>
                </li>
                <li class="mb-3 ml-2">
                    <a href="#">Configurações</a>
                </li>
            </ul>
        </nav>

