<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <title>Rotina de estudos</title>
</head>
<body>
    <div class="">
        {{>_msg}}        
    </div>    
    {{>_navbar}}
    <div id="content">            
        <button type="button" id="sidebarCollapse" 
        class="btn btn-info">
        <i class="fa fa-align-justify" style='color:white'></i>
        </button>              
            
        {{{body}}}          
    </div>    
</body>
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>

</html>

