{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{/each}}
<h1 class="display-4 text-center">
Hoje é dia 30 de março. O que estudaremos?</h1>
<form action="/study/" method="post">
    <div class="input-group mt-4">
    <input type="text" class="form-control" placeholder="Insira o título do conteúdo" 
    aria-label="title" name="title">
    <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="submit">É isso!</button>
    </div>
    </div>
</form>
